{% extends 'base.html.twig' %}
 {% block body %}
     <h1>Première page web avec Symfony</h1>
     <p>Salute !!! j'ai fait walouh</p>

     <a class="nav-link" href="{{ path('profil') }}">Details</a>
 {% endblock %}